<div class="bs-docs-header" id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "about.jpg", height: '140', width: '140', class: "img-circle img-responsive center-block"%>
      </div>
      <div class="col-md-8">
        <h2>Che Salamat-Novilla <small>PROPRIETOR</small></h2>
        <small><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"</em></small>
      </div>
    </div>
  </div>
</div>
