<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Beauty Check</h1>
    <p>Welcome! Feel free to browse our products.</p>
    <br>
    <p><a href="<%= products_path %>" class="btn btn-info btn-lg" role="button">View products</a></p>
  </div>
</div>
