<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Beauty Check</h1>
    <p>Welcome! Feel free to browse our products.</p>
    <br>
    <p><a class="btn btn-default btn-lg" role="button">View products</a></p>
  </div>
</div>
