<div class="bs-docs-header" id="content">
  <div class="container">
    <%= image_tag "logo.svg", class: "img-responsive"%>
    <br>
    <p>Welcome! Feel free to browse our products.</p>
    <br>
    <p><a href="<%= products_path %>" class="btn btn-info btn-lg" role="button">View products</a></p>
  </div>
</div>
