<div class="row">
      <% 12.times do %>
      <% @products.each do |product| %>
      <!-- PROD GRID
      ============================================================ -->

      <!-- PROD. ITEM -->
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- IMAGE CONTAINER-->
          <%= image_tag(product.image.url(:square)) %>
          <!--END IMAGE CONTAINER-->
          <!-- CAPTION -->
          <div class="caption">
          <h3 class=""><%= product.name %></h3>
            <p class=""><%= product.description %></p>

            <div class="row">
              <div class="col-md-6">
                <p class="lead"><%= product.price %></p>
              </div>
            </div>
          </div>
          <!--END CAPTION -->
        </div>
        <!-- END: THUMBNAIL -->
      </div>
      <!-- PROD. ITEM -->
      <% end %>
      <% end %>
</div>
